.info h2, .info h3{
	font-weight: bold;
	font-family: 'Spectral', serif;
}

#content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#wrapper{
	margin: 40px;
}

#friends h1 {
	margin-left: -50px;
	font-family: 'Spectral', serif;
	font-weight: bold;
}

#head{
	width: 100%;
	height: 35vh;
	background-color: #b1b7a4;
	display: flex;
	align-items: center;
	justify-content: center;
}

.part{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.part img{
	margin: 50px;
	width: 45%;
}

.info {
	text-align: center;
}

#content {
	display: flex;
	justify-content: center;
	align-items: center;
}

img{
	width: 100%;
}

.row{
	display: flex;
	align-items: center;
	justify-content: center;
}

.col{
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
	background-color: none;
	height: calc((100vw - 100px) / 7);
	width: calc((100vw - 100px) / 7);
}

.container{
	width: fit-content;
	margin-bottom: 50px;
	margin-top: 50px;
}

.flip_front, .flip_back{
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.flip_back{
	transform: rotateY(180deg);
}

.inside{
	padding: 5px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #dbe3d1;
	text-align: center;
}

.inside:hover, .flip_front img:hover{
	cursor: pointer;
	box-shadow: 0px 0px 10px .5px #000;
}

.inside p {
	margin: 0px;
	font-weight: lighter;
	font-family: 'Karla', sans-serif;
	font-size: 1.75vh;
}

.inside h4 {
	font-family: 'Spectral', serif;
	font-size: 3.5vh;
}

.white-text p, .white-text h4{
	color: #ebebeb;
}

.caption {
	font-size: 20px;
	font-family: 'Spectral', serif;
}

.camera {
	font-weight: lighter;
	font-family: 'Karla', sans-serif;
}